<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="emails/base :: layout(~{::content})"
>
  <head></head>
  <body>
    <div th:fragment="content">
      <h1 class="greeting">Reset Your Password</h1>

      <p class="content">Hello <span th:text="${username}">User</span>,</p>

      <p class="content">
        We received a request to reset your password for your
        <span th:text="${companyName}">MoneyTransfer</span> account.
      </p>

      <div style="text-align: center; margin: 30px 0">
        <a th:href="${resetUrl}" class="button">Reset Password</a>
      </div>

      <div class="alert-warning">
        <strong>Security Notice:</strong> This password reset link will expire
        in 1 hour. If you didn't request this reset, please ignore this email
        and ensure your account is secure.
      </div>

      <p class="content">
        If the button doesn't work, copy and paste this link into your browser:
      </p>

      <div class="highlight-box">
        <code th:text="${resetUrl}"></code>
      </div>
    </div>
  </body>
</html>
